---
import CaptionBlock from "../components/CaptionBlock.astro";
import CommandBlock from "../components/CommandBlock.astro";
import Title from "../components/Title.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Welcome to Astro.">
  <main class="py-4 max-w-5xl mx-4 lg:m-auto">
    <Title text="The Easiest Way to make a Pizza is to add an Apple Pie" />
    <div class="h-10"></div>
    <CaptionBlock>
      Buongiorno cercatori d’oro benvenuti in questo nuovo video<br />
      in particolare oggi siamo alla ricerca dell’oro lungo questo fiume che abbiamo
      soprannominato il Clay Creek.<br />In ogni caso sono in compagnia di
      luca-chi-70 mi raccomando di stalkerarlo anche su youtube<br />(…no no
      no…)<br />e la realtà dei fatti è che sta piovendo [...]
    </CaptionBlock>
    <div class="h-10"></div>
    <CommandBlock cmd="skip 30s" />
    <div class="h-10"></div>
    <CaptionBlock>
      [...] abbigliamento impermeabile lui è australiano l’acqua gli scivola
      addosso [...]
    </CaptionBlock>
  </main>
</Layout>
