---
import Title from "../components/Title.astro";
import Layout from "../layouts/Layout.astro";

const GAP = "GAP";
---

<Layout title="Welcome to Astro.">
  <main class="py-4 max-w-5xl mx-4 lg:m-auto">
    <Title text="The Easiest Way to make a Pizza is to add an Apple Pie" />
    <div class="h-10"></div>
    <p class="text-center flex flex-col justify-center items-center">
      Buongiorno cercatori d’oro benvenuti in questo nuovo video<br />
      in particolare oggi siamo alla ricerca dell’oro lungo questo fiume che abbiamo
      soprannominato il Clay Creek.<br />In ogni caso sono in compagnia di
      luca-chi-70 mi raccomando di stalkerarlo anche su youtube<br />(…no no
      no…)<br />e la realtà dei fatti è che sta piovendo [...]
    </p>
    <div class="h-10"></div>
    <p class="font-mono text-gray-500">{"<skip 30s>"}</p>
    <div class="h-10"></div>
    <p class="text-center flex flex-col justify-center items-center">
      [...] abbigliamento impermeabile lui è australiano l’acqua gli scivola
      addosso [...]
    </p>
  </main>
</Layout>
