---
import CaptionBlock from "../components/CaptionBlock.astro";
import CommandBlock from "../components/CommandBlock.astro";
import Title from "../components/Title.astro";
import Layout from "../layouts/Layout.astro";

export const IMG = [
  "/DALL·E 2023-01-26 00.52.59 - The Easiest Way to make a Pizza is to add an Apple Pie.png",
  "/DALL·E 2023-01-26 00.53.56 - Pizza and an Apple Pie in a boxing fight.png",
  "/DALL·E 2023-01-26 00.55.06 - A slice of pizza and an apple pie on a table.png",
];

const getRandomImage = () => {
  return IMG[Math.floor(Math.random() * IMG.length)];
};
---

<Layout title="Welcome to Astro.">
  <main
    class="text-sm lg:text-base max-w-prose flex flex-col m-4 lg:my-10 p-5 lg:p-10 gap-5 lg:gap-10 lg:m-auto bg-slate-100 shadow-xl"
  >
    <div class="relative">
      <Title
        class="absolute bottom-0"
        text="The Easiest Way to make a Pizza is to add an Apple Pie"
      />
      <img src={getRandomImage()} width="413" height="413" class="w-full" />
    </div>
    <CaptionBlock>
      Buongiorno cercatori d’oro, benvenuti in questo nuovo video<br />Oggi
      siamo alla ricerca dell’oro lungo questo fiume che abbiamo soprannominato
      il Clay Creek.In ogni caso sono in compagnia di luca-chi-70<br />mi
      raccomando di stalkerarlo anche su youtube (…no no no…)<br /> la realtà dei
      fatti è che sta piovendo
    </CaptionBlock>
    <CommandBlock cmd="skip 30s" />
    <CaptionBlock>
      [...] abbigliamento impermeabile lui è australiano l’acqua gli scivola
      addosso [...]
    </CaptionBlock>
    <CommandBlock cmd="skip 30s" />
    <CaptionBlock>
      [...] questo video sarà un po’ breve ma intenso voglio farvi notare alcune
      peculiarità dello scavo di luca e darvi suggerimenti su come migliorare le
      cose tecniche
    </CaptionBlock>
    <CommandBlock cmd="pause" />
    <p>
      Cliccando la barra spaziatrice, Fibonachos sente un dolore al polso.<br />
      Aprendo e chiudendo i palmi scopre un dolore diffuso su entrambe le mani
    </p>
  </main>
</Layout>
