---
import Layout from "../layouts/Layout.astro";

const GAP = "GAP";
---

<Layout title="Welcome to Astro.">
  <main class="py-4 max-w-5xl mx-4 lg:m-auto">
    <h1
      class="text-4xl text-center py-8 flex gap-2 flex-wrap justify-evenly mx-4"
    >
      {
        "The Easiest Way to make a Pizza is to add an Apple Pie"
          .split(" ")
          .map((word) => (
            <span
              class="bg-slate-900 text-white px-1"
              style={{
                transform: "rotate(" + Math.random() * 10 + "deg)",
              }}
            >
              {word}
            </span>
          ))
      }
    </h1>
    <div class="h-10"></div>
    <p class="text-center flex flex-col justify-center items-center">
      Buongiorno cercatori d’oro benvenuti in questo nuovo video<br />
      in particolare oggi siamo alla ricerca dell’oro lungo questo fiume che abbiamo
      soprannominato il Clay Creek.<br />In ogni caso sono in compagnia di
      luca-chi-70 mi raccomando di stalkerarlo anche su youtube<br />(…no no
      no…)<br />e la realtà dei fatti è che sta piovendo [...]
    </p>
    <div class="h-10"></div>
    <p class="font-mono text-gray-500">{"<skip 30s>"}</p>
    <div class="h-10"></div>
    <p class="text-center flex flex-col justify-center items-center">
      [...] abbigliamento impermeabile lui è australiano l’acqua gli scivola
      addosso [...]
    </p>
  </main>
</Layout>
